<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/bower_components/jquery-ui/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="/bower_components/SlickGrid-6pac/slick.grid.css" type="text/css"/>
		<script src="/bower_components/jquery/dist/jquery.js"></script>
		<script src="/bower_components/jquery-ui/jquery-ui.js"></script>
		<script src="/javascripts/jquery.event.drag-2.3.0.js"></script>
		<script src="/bower_components/SlickGrid-6pac/slick.core.js"></script>
		<script src="/bower_components/SlickGrid-6pac/slick.grid.js"></script>
		<script src="/bower_components/SlickGrid-6pac/slick.dataview.js"></script>
		<script src="/bower_components/SlickGrid-6pac/slick.formatters.js"></script>

		<script src="/javascripts/common.js"></script>
		<script src="/javascripts/views/detailUnsend.js"></script>

		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1><%= title %></h1>

		<div>
			<a href="/">全Data</a>

			<label style="margin-left:20px">データ件数: <span name="dataCount" id="dataCount"></span></label>

			<img name="reload" id="reload" src="images/reload.png" alt="reload" title="Reload Data" width="20" height="20" style="margin-left:20px">
		</div>

		<div id="BeaconDetailUnsend" style="width:800px; height:500px; margin-top:10px"></div>
	</body>
</html>
