<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/bower_components/jquery-ui/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="/bower_components/SlickGrid-6pac/slick.grid.css" type="text/css"/>
		<script src="/bower_components/jquery/dist/jquery.js"></script>
		<script src="/bower_components/jquery-ui/jquery-ui.js"></script>
		<script src="/javascripts/jquery.event.drag-2.3.0.js"></script>
		<script src="/bower_components/SlickGrid-6pac/slick.core.js"></script>
		<script src="/bower_components/SlickGrid-6pac/slick.grid.js"></script>
		<script src="/bower_components/SlickGrid-6pac/slick.dataview.js"></script>
		<script src="/bower_components/SlickGrid-6pac/slick.formatters.js"></script>

		<script src="/javascripts/common.js"></script>
		<script src="/javascripts/views/index.js"></script>

		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1><%= title %></h1>

		<div>
			<label>取得期間
			<input type="text" name="startDate" id="startDate" style="width:80px">
			<input type="text" name="startTime" id="startTime" style="width:60px">
			～</label>

			<label style="margin-left:20px">Gateway ID
			<input type="text" name="gatewayId" id="gatewayId" style="width:150px">
			</label>

			<label style="margin-left:20px">表示件数
			<select name="limit" id="limit">
				<option>50</option>
				<option>100</option>
				<option>300</option>
				<option>500</option>
				<option>1000</option>
			</select>
			</label>

			<img name="reload" id="reload" src="images/reload.png" alt="reload" title="Reload Data" width="20" height="20" style="margin-left:20px">
		</div>

		<div id="BeaconHeaderGrid" style="width:90%; height:500px; margin-top:10px"></div>
	</body>
</html>
